In [2]:
import pandas as pd
import os

path='../7mer_output/RBIND_7mer'
#path = '../9mer_output/RBIND_9mer'

try:
    df = pd.read_table(path, header=None, names=['SEQ', 'COUNT', 'ID'])
    id_number = pd.read_table('ID.txt')
    ris = pd.read_table('ris.txt')
except:
    print('数据导入失败！/(ㄒoㄒ)/~~')
else:
    print('数据导入成功！')
    

print(
    df.head(),
    id_number.head(),
    os.getcwd(), sep='\n'
)

/data/build/miniconda3/envs/cenote-taker2_env/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3072: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

数据导入成功！
       SEQ   COUNT   ID
0  AAAAAAA  339900  100
1  AAAAAAC  232005  100
2  AAAAAAG  368888  100
3  AAAAAAT  499832  100
4  AAAAACA  280405  100
    ID
0  100
1  101
2  103
3  104
4  105
/data/home/zhaocj/spn_forcast/df数据整理

In [ ]:
df.shape

In [ ]:
df.head()

In [ ]:
df_wide = df.pivot_table(index=['ID'], columns='SEQ', values='COUNT', fill_value=0).reset_index()

In [ ]:
df_wide.head()

In [ ]:
df_wide.tail()

In [ ]:
df_wide = df_wide.set_index('ID')

In [ ]:
df_wide.loc[[100, 'zj07004', 'XiJ-19-56']]  # 这里的菌株号里面的数字是数值型的

In [ ]:
n = 0
for i in id_number['ID']:
    print(type(i), i, sep='\t')
    if n > 5:
        break
    n+=1
    
# id_number 里面的菌株号都是字符型的，需要把df_wide里的菌株号修改为字符型的

In [ ]:
df_wide = df_wide.reset_index()
n = 0
for i in df_wide['ID']:
    print(type(i), i, sep='\t')
    if n > 5:
        break
    n+=1

In [ ]:
n = 0
for i in range(710):
    a=df_wide.iloc[i, 0]
    print(a, type(a))
    if n > 5:
        break
    n+=1

In [ ]:
for i in range(710):
    a=df_wide.iloc[i, 0]
    df_wide.iloc[i, 0] = str(a)

In [ ]:
n = 0
for i in range(710):
    a=df_wide.iloc[i, 0]
    print(a, type(a))
    if n > 5:
        break
    n+=1

In [ ]:
df_wide

In [ ]:
df_wide = df_wide.set_index('ID')

In [ ]:
df_wide.loc[['100', 'zj07004', 'XiJ-19-56']]  # 这里的菌株号里面的数字是数值型的

In [ ]:
df_wide.loc[list(id_number['ID'])]

In [ ]:
df_input = df_wide.loc[list(id_number['ID'])].reset_index()

In [ ]:
df_input.head()

In [6]:
ris.head()

,ID,PATIENT_ID,ORGANISM,PEN_NM,AMC_NM,CRO_NM,ERY_NM,LVX_NM,MFX_NM,SXT_NM,CLI_NM,SEROTYPE
0,3,CY-20-11,spn,0,0,0,2,0,0,0,0,19F
1,5,HB-20-03,spn,2,0,0,2,0,0,1,2,19A
2,6,HB-20-06,spn,2,0,0,2,0,0,1,2,19F
3,7,HB-20-12,spn,2,0,0,2,0,0,0,2,23F
4,8,CJ-20-05,spn,0,0,0,2,0,0,0,0,6B

In [12]:
ris[['ID', 'PEN_NM']]

       ID  PEN_NM
0       3       0
1       5       2
2       6       2
3       7       2
4       8       0
..    ...     ...
738  X437       2
739  X438       2
740  X439       0
741  X440       0
742  X441       2

[743 rows x 2 columns]

In [ ]:
pd.merge(left, ris[['ID', 'PEN_NM']], on=["key1", "key2"])